= render "admin/articles/article_blocks/show_#{article_block.blockable_type.underscore}",
  article: article, article_block: article_block, "#{article_block.blockable_type.underscore}": article_block.blockable
