- set_meta_tags title: article.title, description: article.description, og: { image: article.eye_cache? ? article.eye_cache.lg.url : nil }

- cache article do
  = render 'shared/article', article: article
