pre {
  &.highlight {
    background-color: #272822;
    color: #f8f8f2;
    padding: 1rem;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: .4rem;
  }
}
