@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~admin-lte/dist/css/AdminLTE';
@import '~admin-lte/dist/css/skins/skin-black';
@import '~select2/dist/css/select2';
@import '~admin-lte/dist/css/alt/AdminLTE-select2';
@import '~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker';

.image-icon-xs {
  height: 18px;
  width: 18px;
}

.image-icon {
  height: 128pxx;
  width: 128px;
}

.insert-block {
  padding: 10px;
}

.box + .insert-block {
  margin-top: -20px;
}
