@import 'highlight';

.image-icon-xs {
  height: 18px;
  width: 18px;
}

.image-icon {
  height: 128px;
  width: 128px;
}

.insert-block {
  padding: 10px;
}

.nav-item {
  .nav-image {
    height: 32px;
    width: 32px;
    margin: -6px .5rem -6px 0;
  }
}

[role=main] {
  padding-top: 48px;
}

.content-header,
.content-body {
  max-width: 800px;
}

