/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'https://fonts.googleapis.com/earlyaccess/sawarabimincho.css';
@import 'https://fonts.googleapis.com/earlyaccess/sawarabigothic.css';
@import 'highlight';

.font-italic {
  font-family: "Sawarabi Mincho";
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Sawarabi Mincho";
  font-size: 2.25rem;

  &:hover {
    text-decoration: none;
  }
}

.blog-article-title {
  font-family: "Sawarabi Mincho";
}

.blog-article-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-article-body {
  font-family: "Sawarabi Gothic";

  h1, h2, h3, h4, h5, h6 {
    font-family: "Sawarabi Mincho";
  }
}

.article-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;

  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
}

.page-content {
  padding-bottom: 80px;
}

.article-content {
  padding-bottom: 60px;
  max-width: 800px;
}

.published-at {
  text-align: center;
  margin: 1rem 0;
}

.category, .tags, .author {
  margin-top: 20px;
}

.article {
  max-width: 680px;
  margin: 3rem auto 1rem;

  h1,
  h2,
  h3 {
    margin: 2rem 0 1rem;
  }
}

.medium-image {
  position: relative;
  width: 100%;
  margin: 2rem auto;

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.embed-youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 2rem auto;

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.img-icon {
  max-width: 128px;
}
